<h1>アカウントの有効化</h1>

<p>こんにちは <%= @user.last_name+" "+@user.first_name+"さん" %>、</p>

<p>
  下記のリンクをクリックしてアカウントを有効化して下さい。
</p>

<%= link_to "有効化する", edit_account_activation_url(@user.activation_token,
                                                      email: @user.email) %>